@model NFLTeams.Models.TeamViewModel
  
<h2>Change User's Name</h2>


<form asp-action="Change" method="post">
    <input asp-for="UserName" placeholder="Type name here" class="mb-3" /><br />

    <!--you can code a link to the Home page here -->
    <a asp-action="Index" asp-controller="Home">Back to Home</a>

    <button type="submit" class="btn btn-primary">
        Change Name
    </button>
</form>
